@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow-theme-background-color: #1d1d1d ;
  --yellow-theme-main-color: #ffdd40 ;
  --yellow-theme-sub-text-color: #ffffff ;
  --yellow-theme-nav-background-color:#181818 ;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background-color: var(--yellow-theme-background-color);
  height: 100%;
}

#root{
  height: 100%;
}